/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html,body {
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size:20px;
    height:100%;
    text-transform:uppercase;
    width:100%;
    margin:0 auto;
    padding: 0;
    background: #222;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
#homelogo {
    font-size: 200%;
    line-height: 1em;
    text-align: center;
    width: 100%;
    padding:10px 0;
    background: #003366;
    border-top:green 2px solid
}
.app{
    width:100%;
    height:100%;
}
.app a{
    text-decoration: none;
}
.big-button{
    position: relative;
    min-height:150px;
    width:auto;
    margin:20px;
    border-radius: 40px;
    background: #34495e;
    border: 4px solid #2c3e50;
    font-size:1.4em;
    overflow: auto;
}
.big-button .inner{
    height:60px;
    padding-top:48px;
}
.big-button .question{
    font-size: .6em;
    padding:10px;
    width:300px;
    text-align: left;
    text-transform: none;
}
.button p{
    text-align: center;
}
.subtitle{
    font-size:.6em;
    color:#e8e8e8;
}
.coords-map img{
    width:100%;
    height:100%;
}
.separator{
    height:30px;
    text-align: center;
    color:#fff;
    line-height: 30px;
}
#scan{
    text-align: center;
    color: white;
    font-size: 1.2em;
}






